.heading
{
    width:100%;
    text-align: center;

}

.heading h3{
    display:inline;
    margin-left: 110px;
    font-size: 28px;
}

.heading button{
    float:right;
    border:1px solid white;

}

.footer{
    position: fixed;  
    bottom: 0;  
    width: 100%;  
    background-color: #5bc0de;
    color: white;  
    text-align: center;  
}

.modal-dialog
{
    width:90%;
}