.heading
{
    width:100%;
    text-align: center;

}

.heading h3{
    display:inline;
    margin-left: 110px;
    font-size: 28px;
}

.heading button{
    float:right;
    border:1px solid white;

}

#game{
    margin-top: 20px;
}

#restart
{
    margin-bottom: 20px;
}

.footer{
    position: fixed;  
    bottom: 0;  
    width: 100%;  
    background-color: #5bc0de;
    color: white;  
    text-align: center;  
}

.modal-dialog
{
    width:90%;
}

canvas
{
    border:6px;
    border-style: double dashed;
    border-color: orangered;
    margin-bottom: 60px;
}